body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* --playerOneCrown: url('../assets/redNegus.svg'); */
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* padding-top: 20px; */
  min-height: 100vh;
  background-image: url("/src/assets/backdrop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}

.players > div {
  display: inline-block;
  font-size: 30px;
  background: #ff4c01;
  padding: 5px 10px;
  min-width: 250px;
  margin: 0 0 10px 0;
  cursor: pointer;
  color: white;
}

.game-board {
  display: inline-block;
  border: 2px solid #ff4c01;
  position: relative;
  padding: 10px;
  border-radius: 5px;
}

.game-status {
  /* display: block; */
  padding: 5px;
  background-color: #fff;
  width: 55%;
  max-width: 500px;
  font-size: 15px;
  /* position: relative; */
  /* top: 150px; */
  z-index: 3;
  margin: 0 auto;
}

.time-travel {
  max-width: 660px;
  display: block;
  margin: 0 auto;
  text-align: right;
}

.undo {
  font-size: 15px;
  padding: 5px;
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
  border: 3px solid #deb887;
  margin: 5px;
  cursor: pointer;
}

.undo.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.board-col {
  display: inline-block;
  max-width: 80px;
}

.square {
  background: no-repeat #181920;
  border: none;
  height: 80px;
  width: 80px;
  padding: 10px;
  background-origin: content-box;
  backgrsound-size: contain;
  /*  */
  /* transform:
  perspective(600px)
  rotateX(20deg); */
  box-shadow: rgba(22, 31, 39, 1) 0px 60px 123px -25px,
    rgba(19, 26, 32, 1) 0px 35px 75px -35px;
}

.square.Default.primary {
  background-color: #181920;
}
.square.Default.secondary {
  background-color: #2c2c37;
}

.square.Wood.primary {
  background-color: #734e21;
}
.square.Wood.secondary {
  background-color: #efd6ad;
}

.square.Royal.primary {
  background-color: #191921;
}
.square.Royal.secondary {
  background-color: #d9d9d9;
}

.square.Golden.primary {
  background-color: #caaf57;
}
.square.Golden.secondary {
  background-color: #181920;
}
 .box {
  background-color: black;
  border: 1px solid white;
    scale(1.4, 1.4);
  border-radius: 5px;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2); */
}

.isActive {
  background-color: rgba(189, 178, 159, 0.5);
}

.square.movable.player1-move {
  background-color: #ff4c01;
}

.square.movable.player2-move {
  background-color: #aa8611;
}

.square.player1,
.square.player2,
.square.movable {
  cursor: pointer;
}

.square.player1 {
  /* background-image: url("/src/assets/img/kingIcon.svg"); */
  background-image: url("/src/assets/orange-coin.svg");
  /* background-image: url("/src/assets/3d.svg"); */
  background-size: cover;
  background-position: center;
}
.square.player2 {
  background-image: url("/src/assets/yellow-coin.svg");
  /* background-image: url("/src/assets/3d.svg"); */

  background-size: contain;
  background-position: center;
}

.square.Royal.player1 {
  background-image: url("/src/assets/Board_Coin/Royal/dark_pawn.svg");
}
.square.Royal.player2 {
  background-image: url("/src/assets/Board_Coin/Royal/silver_pawn.svg");
}

.square.Golden.player1 {
  background-image: url("/src/assets/Board_Coin/Golden/dark.svg");
}
.square.Golden.player2 {
  background-image: url("/src/assets/Board_Coin/Golden/light.svg");
}

.square.Wood.player1 {
  background-image: url("/src/assets/Board_Coin/Wood/dark.svg");
}
.square.Wood.player2 {
  background-image: url("/src/assets/Board_Coin/Wood/light.svg");
}

.square.player1.myturn {
  background-image: url("/src/assets/orange-coin-white.svg");
  background-size: cover;
  background-position: center;
}
.square.player2.myturn {
  background-image: url("/src/assets/yellow-coin-white.svg");
  background-size: cover;
  background-position: center;
}

.square.Royal.player1.myturn {
  background-image: url("/src/assets/Board_Coin/Royal/dark_pawn-active.svg");
}
.square.Royal.player2.myturn {
  background-image: url("/src/assets/Board_Coin/Royal/silver_pawn-active.svg");
}

.square.Golden.player1.myturn {
  background-image: url("/src/assets/Board_Coin/Golden/dark-active.svg");
}
.square.Golden.player2.myturn {
  background-image: url("/src/assets/Board_Coin/Golden/light-active.svg");
}

.square.Wood.player1.myturn {
  background-image: url("/src/assets/Board_Coin/Wood/dark-active.svg");
}
.square.Wood.player2.myturn {
  background-image: url("/src/assets/Board_Coin/Wood/light-active.svg");
}

.square.player1.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/redNegus.svg");
  background-size: cover;
  background-position: center;
}
.square.player2.king {
  background-image: url("/src/assets/YellowNegus.svg");
  background-size: cover;
  background-position: center;
}

.square.player1.Golden.Royals.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Golden/dark-royal-king.svg");
}
.square.player2.Golden.Royals.king {
  background-image: url("/src/assets/Board_Coin/Golden/light-royal-king.svg");
}

.square.player1.Golden.Royals.king.myturn {
  background-image: url("/src/assets/Board_Coin/Golden/dark-royal-king-active.svg");
}
.square.player2.Golden.Royals.king.myturn {
  background-image: url("/src/assets/Board_Coin/Golden/light-royal-king-active.svg");
}

.square.player1.Golden.Default.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Golden/dark-royal-king.svg");
}
.square.player2.Golden.Default.king {
  background-image: url("/src/assets/Board_Coin/Golden/light-royal-king.svg");
}

.square.player1.Golden.Default.king.myturn {
  background-image: url("/src/assets/Board_Coin/Golden/dark-royal-king-active.svg");
}
.square.player2.Golden.Default.king.myturn {
  background-image: url("/src/assets/Board_Coin/Golden/light-royal-king-active.svg");
}

.square.player1.Golden.Pearl.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Golden/dark-pearl-king.svg");
}
.square.player2.Golden.Pearl.king {
  background-image: url("/src/assets/Board_Coin/Golden/light-pearl-king.svg");
}

.square.player1.Golden.Pearl.king.myturn {
  background-image: url("/src/assets/Board_Coin/Golden/dark-pearl-king-active.svg");
}
.square.player2.Golden.Pearl.king.myturn {
  background-image: url("/src/assets/Board_Coin/Golden/light-pearl-king-active.svg");
}

.square.player1.Golden.Negest.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Golden/dark-negest-king.svg");
}
.square.player2.Golden.Negest.king {
  background-image: url("/src/assets/Board_Coin/Golden/light-negest-king.svg");
}

.square.player1.Golden.Negest.king.myturn {
  background-image: url("/src/assets/Board_Coin/Golden/dark-negest-king-active.svg");
}
.square.player2.Golden.Negest.king.myturn {
  background-image: url("/src/assets/Board_Coin/Golden/light-negest-king-active.svg");
}


.square.player1.Royal.Royals.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Royal/dark-king-royal.svg");
}
.square.player2.Royal.Royals.king {
  background-image: url("/src/assets/Board_Coin/Royal/light-king-royal.svg");
}

.square.player1.Royal.Royals.king.myturn {
  background-image: url("/src/assets/Board_Coin/Royal/dark-king-royal-active.svg");
}
.square.player2.Royal.Royals.king.myturn {
  background-image: url("/src/assets/Board_Coin/Royal/light-king-royal-active.svg");
}

.square.player1.Royal.Default.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Royal/dark-king-default.svg");
}
.square.player2.Royal.Default.king {
  background-image: url("/src/assets/Board_Coin/Royal/light-king-default.svg");
}

.square.player1.Royal.Default.king.myturn {
  background-image: url("/src/assets/Board_Coin/Royal/dark-king-default-active.svg");
}
.square.player2.Royal.Default.king.myturn {
  background-image: url("/src/assets/Board_Coin/Royal/light-king-default-active.svg");
}

.square.player1.Royal.Pearl.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Royal/dark-king-pearl.svg");
}
.square.player2.Royal.Pearl.king {
  background-image: url("/src/assets/Board_Coin/Royal/light-king-pearl.svg");
}

.square.player1.Royal.Pearl.king.myturn {
  background-image: url("/src/assets/Board_Coin/Royal/dark-king-pearl-active.svg");
}
.square.player2.Royal.Pearl.king.myturn {
  background-image: url("/src/assets/Board_Coin/Royal/light-king-pearl-active.svg");
}

.square.player1.Royal.Negest.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Royal/dark-king-negest.svg");
}
.square.player2.Royal.Negest.king {
  background-image: url("/src/assets/Board_Coin/Royal/light-king-negest.svg");
}

.square.player1.Royal.Negest.king.myturn {
  background-image: url("/src/assets/Board_Coin/Royal/dark-king-negest-active.svg");
}
.square.player2.Royal.Negest.king.myturn {
  background-image: url("/src/assets/Board_Coin/Royal/light-king-negest-active.svg");
}


.square.player1.Wood.Royals.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Wood/dark-king-royal.svg");
}
.square.player2.Wood.Royals.king {
  background-image: url("/src/assets/Board_Coin/Wood/light-king-royal.svg");
}

.square.player1.Wood.Royals.king.myturn {
  background-image: url("/src/assets/Board_Coin/Wood/dark-king-royal-active.svg");
}
.square.player2.Wood.Royals.king.myturn {
  background-image: url("/src/assets/Board_Coin/Wood/light-king-royal-active.svg");
}

.square.player1.Wood.Default.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Wood/dark-king-default.svg");
}
.square.player2.Wood.Default.king {
  background-image: url("/src/assets/Board_Coin/Wood/light-king-default.svg");
}

.square.player1.Wood.Default.king.myturn {
  background-image: url("/src/assets/Board_Coin/Wood/dark-king-default-active.svg");
}
.square.player2.Wood.Default.king.myturn {
  background-image: url("/src/assets/Board_Coin/Wood/light-king-default-active.svg");
}

.square.player1.Wood.Pearl.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Wood/dark-king-pearl.svg");
}
.square.player2.Wood.Pearl.king {
  background-image: url("/src/assets/Board_Coin/Wood/light-king-pearl.svg");
}

.square.player1.Wood.Pearl.king.myturn {
  background-image: url("/src/assets/Board_Coin/Wood/dark-king-pearl-active.svg");
}
.square.player2.Wood.Pearl.king.myturn {
  background-image: url("/src/assets/Board_Coin/Wood/light-king-pearl-active.svg");
}

.square.player1.Wood.Negest.king {
  /* kingIcon.svg */
  background-image: url("/src/assets/Board_Coin/Wood/dark-king-negest.svg");
}
.square.player2.Wood.Negest.king {
  background-image: url("/src/assets/Board_Coin/Wood/light-king-negest.svg");
}

.square.player1.Wood.Negest.king.myturn {
  background-image: url("/src/assets/Board_Coin/Wood/dark-king-negest-active.svg");
}
.square.player2.Wood.Negest.king.myturn {
  background-image: url("/src/assets/Board_Coin/Wood/light-king-negest-active.svg");
}

.vs {
  background-image: url("/src/assets/vs.svg");
}

.square.tracker {
  background-color: #858484;
}

@media only screen and (max-width: 700px) {
  .board-col {
    max-width: 60px;
  }
  .square {
    height: 60px;
    width: 60px;
  }
}

@media only screen and (max-width: 520px) {
  .board-col {
    max-width: 50px;
  }
  .square {
    height: 50px;
    width: 50px;
    padding: 7px;
  }
}

@media only screen and (max-width: 440px) {
  .board-col {
    max-width: 40px;
  }
  .square {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 370px) {
  .board-col {
    max-width: 35px;
  }
  .square {
    height: 35px;
    width: 35px;
  }
}

