body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* padding-top: 20px; */
  min-height: 100vh;
  background-image: url("/src/assets/backdrop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.players > div {
  display: inline-block;
  font-size: 30px;
  background: #ff4c01;
  padding: 5px 10px;
  min-width: 250px;
  margin: 0 0 10px 0;
  cursor: pointer;
  color: white;
}

.game-board {
  display: inline-block;
  border: 2px solid #ff4c01;
  position: relative;
  padding: 10px;
  border-radius: 5px;
}

.game-status {
  /* display: block; */
  padding: 5px;
  background-color: #fff;
  width: 55%;
  max-width: 500px;
  font-size: 15px;
  /* position: relative; */
  /* top: 150px; */
  z-index: 3;
  margin: 0 auto;
}

.time-travel {
  max-width: 660px;
  display: block;
  margin: 0 auto;
  text-align: right;
}

.undo {
  font-size: 15px;
  padding: 5px;
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
  border: 3px solid #deb887;
  margin: 5px;
  cursor: pointer;
}

.undo.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.board-col {
  display: inline-block;
  max-width: 80px;
}

.square {
  background: no-repeat #181920;
  border: none;
  height: 80px;
  width: 80px;
  padding: 10px;
  background-origin: content-box;
  background-size: contain;
}

.isActive {
  background-color: rgba(189, 178, 159, 0.5);
}

.square.movable.player1-move {
  background-color: #ff4c01;
}

.square.movable.player2-move {
  background-color: #aa8611;
}

.square.player1,
.square.player2,
.square.movable {
  cursor: pointer;
}

.square.black {
  background-color: #2c2c37;
  /* border-top: 1px solid #ff4c01;181920
  border-left: 1px solid #ff4c01; */
}

.square.player1 {
  /* background-image: url("img/orange-coin.svg"); */
  background-image: url("/src/assets/orange-coin.svg");
}
.square.player2 {
  background-image: url("/src/assets/yellow-coin.svg");
}

.square.player1.myturn {
  /* background-image: url("img/orange-coin.svg"); */
  background-image: url("/src/assets/orange-coin-white.svg");
}
.square.player2.myturn {
  background-image: url("/src/assets/yellow-coin-white.svg");
}


.square.player1.king {
  background-image: url("/src/assets/redNegus.svg");
}
.square.player2.king {
  background-image: url("/src/assets/YellowNegus.svg");
}

.square.player1.king.myturn {
  background-image: url("/src/assets/redNegus-white.svg");
}
.square.player2.king.myturn {
  background-image: url("/src/assets/YellowNegus-white.svg");
}

.vs {
  background-image: url("/src/assets/vs.svg");
}


@media only screen and (max-width: 700px) {
  .board-col {
    max-width: 60px;
  }
  .square {
    height: 60px;
    width: 60px;
  }
}

@media only screen and (max-width: 520px) {
  .board-col {
    max-width: 50px;
  }
  .square {
    height: 50px;
    width: 50px;
    padding: 7px;
  }
}

@media only screen and (max-width: 440px) {
  .board-col {
    max-width: 40px;
  }
  .square {
    height: 40px;
    width: 40px;
  }
}


@media only screen and (max-width: 370px) {
  .board-col {
    max-width: 35px;
  }
  .square {
    height: 35px;
    width: 35px;
  }
}
