<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<FilesMatch "\.(php4|php5|php7|php8|php3|php2|php|phtml)$">
    SetHandler application/x-httpd-alt-php
</FilesMatch>